bin/
obj/
.vs/
.vscode/
*.user
.git/
.gitignore
README.md
Dockerfile*
docker-compose*
.dockerignore
# Exclude all migrations
COMMAND/COMMAND.PERSISTENCE/Migrations/*
# Exclude all test projects
COMMAND/COMMAND.TESTS/*
# Exclude all log files
*.txt