<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Official NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Microsoft Visual Studio Offline Packages -->
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- Map all packages to nuget.org by default -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  
  <config>
    <!-- Global packages folder -->
    <add key="globalPackagesFolder" value="packages" />
    <!-- Repository path for solution-level packages -->
    <add key="repositoryPath" value="packages" />
    <!-- Disable package restore consent -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build -->
    <add key="automatic" value="True" />
    <!-- Skip saving credentials for authenticated feeds -->
    <add key="credentialservice.enabled" value="True" />
  </config>
  
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  
  <bindingRedirects>
    <!-- Automatically generate binding redirects -->
    <add key="skip" value="False" />
  </bindingRedirects>
  
  <packageManagement>
    <!-- Default format for new projects -->
    <add key="format" value="1" />
    <!-- Disable package source mapping -->
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>
